// Colors
// --------------------------------------------------

$bgColor:		#fff; // Background Color
$bgMobColor:	#2b2b2b; // Background of the mobile menu

$color_1: 		#333; // Primary Color
$color_2: 		#666; // Secondary Color

$linkColor: 	#3597eb; // Link Color
$hoverColor: 	#2c6596; // Link Hover Color

$buttonColor:	#333; // Button background color

$borderColor:	#ebebeb; // Default border color

// Mobile menu width
// --------------------------------------------------

$mobMenuWidth: 250px;