// Clearing
// --------------------------------------------------

// Self Clearing Goodness 
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

// Use clearfix class on parent to clear nested columns,
// or wrap each row of columns in a <div class="row">
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

// If you need to clear columns
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
